.container {
    max-width: 1600px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;

    .card {
        position: relative;
        width: 300px;
        height: 500px;
        display: flex;
        flex-direction: column;
        border: 4px solid #333;
        background-color: black;

        .info {
            overflow: auto;

            h3 {
                font-size: 16px;
                color: lightgrey;
                margin: 5px 0;
                padding: 0 10px;

                span {
                    font-weight: 500;
                    font-size: 14px;

                    .stars {
                        color: rgb(224, 213, 53);
                    }
                }
            }

            .flag {
                width: 20px;
                margin: 5px 10px;
                border-radius: 2px;
            }

            .flagNotAvaileble {
                margin: 5px 10px;
                color: lightgray;
                font-weight: 600;
            }
        }
    }



    .poster {
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    .poster:hover {
        display: none;
    }

    .no-image {
        position: absolute;
        background-color: black;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        font-weight: 600;

        h3 {
            margin-bottom: 10px;
        }

        p {
            font-size: 12px;
        }
    }

    .no-image:hover {
        display: none;
    }
}